.consSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
padding-top: 100px;
padding-bottom: 100px;

    background-image: url(../../utilities/images/unsplash_MP0bgaS_d1c.jpg);
    background-size: cover;
      color: #fff;
}

.constTitle{
margin-bottom: 30px;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

.contactCon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.consText{
    font-size: 24px;
    line-height: 1.17;
    margin-right: 8px;
}

.constLink{
    color: #fff;
     font-size: 24px;
    line-height: 1.17;
    text-decoration: underline;
}