.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-bottom: 28px;
}

.inputCon {
  position: relative;

  display: flex;
}

.input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 114px;
}

.label {
  position: absolute;
  top: 10px;
  left: 8px;

  font-size: 18px;
  line-height: 1.17;
  color: #a3aac2;
}

.asterix {
  color: #ed6565;
}

.textareaCon {
  position: relative;

  text-align: left;
  grid-column: span 2;
}

.textArea {
  width: 100%;
  margin-bottom: 8px;
}

.small {
  font-size: 16px;
  line-height: 1.17;
  color: #667299;
}

.btnSubmit {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 103px;
  padding-left: 103px;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.17;
  background-color: #2947a9;
  color: #fff;
  border-radius: 2px;
}
